<meta charset="UTF-8">
<title>{{ page.title | default: "Video con AblePlayer y Señas" }}</title>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/uninunez-media/ableplayer@main/build/ableplayer.min.css" />
<link rel="stylesheet" href="estilos.css" />

<script src="https://cdn.jsdelivr.net/gh/uninunez-media/ableplayer@main/build/ableplayer.min.js"></script>
