html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fff;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

div#wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1280px;
  max-width: 98%;
  background: #fff;
  margin-top: 2rem;
  justify-content: flex-start; /* por defecto a la izquierda */
  	gap: 20px;
}

#player {
  /* position: relative;*/
  width: 70%;
  transition: width 0.2s;
}

#transcript {
		width: 30%;
	}
